


<div class="width-full rounded @Color.Text() text-center bg-black">
    @ChildContent
</div>


@code {
    [Parameter] 
    public ColorVariant Color { get; set; }
    
    [Parameter, EditorRequired] 
    public RenderFragment ChildContent { get; set; }
    
    
}