@using System.Reflection.Metadata


<div class="width-full rounded @Color.Text() text-center bg-black">
    @ChildContent
</div>


@code {


    [Parameter] 
    public ColorVariant Color { get; set; }
    
    [Parameter] 
    public RenderFragment ChildContent { get; set; }
    
}